// Remove spinner / spin buttons from inside number input fields.
@mixin remove-number-spinner {
  -moz-appearance: textfield; // Firefox.

  // Chrome.
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
}

// Remove the outline from a button when it gains focus or is active.
button.no-btn-outline {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

// Remove spinner / spin buttons from inside number input fields
// when the screen is xs size.
input.no-spinner-xs {
  @include media-breakpoint-down(xs) {
    @include remove-number-spinner;
  }
}

// Remove spinner / spin buttons from inside number input fields
// when the screen is sm size or smaller.
input.no-spinner-sm {
  @include media-breakpoint-down(sm) {
    @include remove-number-spinner;
  }
}

// Underline text that has a tooltip.
.has-tooltip {
  border-bottom: dotted 1px $text-muted;
  cursor: help;
}

// Override general styles with component styles.
@import './components/Components';
